/dairyTrack-web/node_modules
dairyTrack-api/Selling/sales/__pycache__/serializers.cpython-311.pyc
dairyTrack-api/Selling/sales_and_finance/__pycache__/settings.cpython-311.pyc
dairyTrack-api/Selling/whatsapp_errors.log
dairyTrack-api/Selling/whatsapp_errors.log
dairyTrack-api/Selling/whatsapp_errors.log
dairyTrack-api/Selling/sales_and_finance/__pycache__/settings.cpython-311.pyc
dairyTrack-api/Selling/whatsapp_errors.log
dairyTrack-api/Selling/sales/__pycache__/serializers.cpython-311.pyc
